body,
input,
ul,
li,
ol,
table,
td,
th {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: PingFangSC-Regular, HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', sans-serif, Simsun;
    color: #333;
}

li,
ol,
ul {
    list-style: none;
}

a {
    color: #999;
}

a,
a:active,
a:hover,
a:link {
    text-decoration: none;
}

address,
b,
caption,
cite,
code,
dfn,
em,
i,
strong,
th,
var {
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    flex: 1;
}

/* 头部搜索框 */
.wrap .head {
    padding: 30px 0 10px;
    position: relative;
}

.wrap .head .searchBox {
    height: 34px;
    text-align: center;
    border: none;
}

.wrap .head .searchBox .serch {
    width: 407px;
    height: 32px;
    margin: auto;
}

.wrap .head .searchBox .serch input {
    width: 360px;
    height: 32px;
    float: left;
    border-width: 2px 0 2px 2px;
    border-color: #e1251b;
    border-style: solid;
    padding-right: 30px;
}

.wrap .head .searchBox .serch .search-btn {
    margin: 0px 2px 0px 0px;
    width: 45px;
    height: 32px;
    cursor: pointer;
    float: right;
    background: #e1251b;
    border: none;
}

/* Tag选择框 */
.tag {
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
    padding: 12px 20px;
    overflow: hidden;
    font-size: 13px;
}

.tag .selector .kind {
    clear: both;
    padding: 3px 0;
    line-height: 20px;
    overflow: hidden;
}

.tag .selector .kind .bz {
    float: left;
    width: 88px;
    color: #999;
    padding-top: 5px;
}

.tag .selector .kind .nr {
    float: left;
    width: 1020px;
    color: #888;
}

.tag .selector .kind a {
    color: #151515;
    font-size: 13px;
    margin: 5px 6px 5px 7px;
    display: inline-block;
}

.tag .selector .kind a.current {
    color: #fff;
    background: #d32f2f;
    border-radius: 2px;
    padding: 0 5px;
}

.tag .selector .storeline {
    height: 1px;
    background: #e6e6e6;
    overflow: hidden;
    margin: 5px auto;
}

.tag .selector .kind .nr .selected {
    background: #d32f2f;
    line-height: 20px;
    padding: 0 20px 0 5px;
    font-size: 13px;
    position: relative;
    color: #fff;
    float: left;
    border-radius: 2px;
    margin: 5px 6px 5px 7px;
    float: left;
}

.tag .selector .kind .nr .selected a {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 5px;
    top: 5px;
    margin: 0;
    overflow: hidden;
}

/* 选择排序 */
.sort {
    line-height: 20px;
    padding: 10px 0 10px 20px;
    height: 20px;
    overflow: hidden;
}

.sort .kind {
    float: left;
    position: absolute;
}

.sort .kind .bz {
    float: left;
    line-height: 25px;
    color: #999;
}

.sort .kind .fm {
    position: relative;
    float: left;
    margin: 0 6px;
    z-index: 8;
    line-height: 25px;
}

.sort .kind .fm .selected {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    color: #333;
    padding: 0 10px 0 10px;
    position: relative;
    font-size: 13px;
}

.sort .kind .fm .selected.on {
    color: #d32f2f;
}

.sort .type {
    float: right;
}

/* 书籍目录 */
.catalog {
    border: 1px solid #e6e6e6;
    padding: 0 20px 20px;
    font-size: 12px;
    overflow: hidden;
}

.catalog .con .tab-head {
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 5px;
}

.con span {
    float: left;
    padding-right: 20px;
}

.con .kind {
    width: 65px;
    padding-right: 15px;
}

.con .bookname {
    width: 200px;
}

.con .chap {
    width: 360px;
}

.con .status {
    width: 65px;
}

.con .count {
    width: 100px;
}

.con .author {
    width: 145px;
}

.con .time {
    width: 105px;
    padding-right: 0;
    text-align: center;
    float: right;
}

.directory li {
    font-size: 12px;
    border-bottom: 1px dotted #ccc;
    line-height: 40px;
    overflow: hidden;
    height: 40px;
    letter-spacing: 1px;
    clear: both;
    text-overflow: ellipsis;
    color: #999;
}

/* 分页 */
.pages {
    margin-top: 40px;
    line-height: 33px;
    font-size: 12px;
    color: #999;
    text-align: center;
}

.pages a {
    border: 1px solid #ccc;
    border-radius: 1px;
    width: 33px;
    height: 33px;
    display: inline-block;
    margin: 0 3px;
    font-size: 14px;
    color: #999;
    vertical-align: middle;
}

.pages a.active,
.pages a:hover,
.pagebox_submit:hover {
    background: #d32f2f;
    color: #fff;
    border: 1px solid #d32f2f;
}

.pagebar input.scrollpage,
.pagebox_submit {
    width: 40px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    background-color: #fff;
    padding: 0;
    color: #999;
    border: 1px solid #ccc;
    outline: 0;
    cursor: pointer;
    margin-left: 8px;
    vertical-align: middle;
}

/* svg图标 */
.icon-del {
    display: block;
    width: 13px;
    height: 13px;
    stroke: #000000;
    stroke-width: 2.4;
    stroke-linecap: square;
    stroke-linejoin: miter;
    fill: none;
    float: right;
}

.icon-table {
    display: block;
    width: 24px;
    height: 24px;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: square;
    stroke-linejoin: miter;
    fill: none;
}

.icon-list {
    display: block;
    width: 24px;
    height: 24px;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: square;
    stroke-linejoin: miter;
    fill: none;
}

.icon-serch {
    display: block;
    width: 32px;
    height: 24px;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: square;
    stroke-linejoin: miter;
    fill: none;
}

.footer {
    flex: 0;
    background: black;
}
.mmmm {
    display: inline-block;
    margin: 0px -2px -3px 3px;
}
.nr a {
    display: inline-block;
}
