<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/base.css" type="text/css">
        <script type="text/javascript" src="/static/js/base.js"></script>
    </head>
    <body class="Main">
        <div class="Uptown"></div>
        <div class="Downtown">
            <div class="Lefttown">
                <p><a href="/text">Text</a></p>
                <p><a href="/imageset">ImageSet</a></p>
                <p><a href="/video">Video</a></p>
                <p><a href="/img">Img</a></p>
                <p><a href="/web">Web</a></p>
                <p><a href="/config">Config</a></p>
            </div>
            <div class="Righttown"></div>
        </div>
    </body>
</html>