<html>
    <head>
        <link rel="stylesheet" href="../css/TextHome.css">
        <script type="text/javascript" src="../js/queryParameter.js" charset="utf-8"></script>
        <script type="text/javascript" src="../js/virtualElement.js" charset="utf-8"></script>
        <script type="text/javascript" src="../js/templateTextHomeJS.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="head-fixed" style="display: none;"></div>
        <div class="wrap">
            <!-- 头部搜索框 -->
            <div class="head">
                <div class="searchBox">
					<div class="serch">
                        <input name="key">
                        <button class="search-btn"><svg viewBox="0 0 24 24" class="icon-serch"><path d="M14.4121122,14.4121122 L20,20"></path><circle cx="10" cy="10" r="6"></circle></svg></button>
					</div>
                </div>
            </div>
            <!-- Tag选择框 -->
            <div class="tag">
                <div class="selector">
                    <!--
                    <div class="kind">
                        <div class="bz">进度：</div>
                        <div class="nr">
							<a class="current store" href="javascript:void(0)" serialstatus="9" mode = "and" flag = "jindu:all">全部</a> 
							<a class="store" href="javascript:void(0)" serialstatus="0" mode = "and" flag = "jindu:lianzai">连载中</a> 
							<a class="store" href="javascript:void(0)" serialstatus="1" mode = "and" flag = "jindu:wanjie">已完结</a>
						</div>
                    </div>
                    <div class="kind">
                        <div class="bz">作品分类：</div>
                        <div class="nr">
                            <a class="current store" href="javascript:void(0)" categoryid="0">全部</a>
                            <a class="store" href="javascript:void(0)" categoryid="1">奇幻玄幻<em></em></a>
                        </div>
                    </div>
                    <div class="storeline"></div>
                    <div class="kind">
                        <div class="bz">已选条件：</div>
                        <div class="nr" id="selectedParams">
                            <span class="selected">奇幻玄幻<a href="javascript:void(0);" class="store" categoryid="0"><svg viewBox="0 0 24 24" class="icon-del" aria-hidden="true"><path d="M6 6L17 17M6 17L17 6"></path></svg></a></span>
                        </div>
                    </div>
                    -->
                    <div class="kind">
                        <div class="bz">已选条件：</div>
                        <div class="nr" id="selectedParams">
                            <a href="javascript:void(0);" class="current store">奇幻玄幻<span class="mmmm"><svg viewBox="0 0 24 24" class="icon-del" aria-hidden="true"><path d="M6 6L17 17M6 17L17 6"></path></svg></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var el = VElement;

                document.getElementsByClassName('selector')[0].appendChild(new el(
                    'div',
                    {class: 'kind'},
                    [
                    new el('div',{class: 'bz'},['进度：']),
                    new el('div',{class: 'nr'},
                            [new el('a',{href: 'javascript:void(0)',onclick: 'SelectedTag(this)','data-mod': 'and','data-flag': 'serialstatus:all', class: 'current store'},['全部'])
                            ,new el('a',{href: 'javascript:void(0)',onclick: 'SelectedTag(this)','data-mod': 'and','data-flag': 'serialstatus:progress', class: 'store'},['连载中'])
                            ,new el('a',{href: 'javascript:void(0)',onclick: 'SelectedTag(this)','data-mod': 'and','data-flag': 'serialstatus:finish', class: 'store'},['已完结'])
                            ]
                        )
                    ]).render())

                    document.getElementsByClassName('selector')[0].appendChild(new el(
                    'div',
                    {class: 'kind'},
                    [
                    new el('div',{class: 'bz'},['作品分类：']),
                    new el('div',{class: 'nr'},
                            [new el('a',{href: 'javascript:void(0)',onclick: 'SelectedTag(this)','data-mod': 'and','data-flag': 'category:all', class: 'current store'},['全部'])
                            ,new el('a',{href: 'javascript:void(0)',onclick: 'SelectedTag(this)','data-mod': 'and','data-flag': 'category:test', class: 'store'},['测试'])
                            ]
                        )
                    ]).render())

                    document.getElementsByClassName('selector')[0].appendChild(new el(
                        'div',
                        {class: 'kind'},
                        [
                        new el('div',{class: 'bz'},['标签：']),
                        new el('div',{class: 'nr'},
                                [new el('a',{href: 'javascript:void(0)',onclick: 'SelectedTag(this)','data-mod': 'or','data-flag': 'tag:test1', class: 'store'},['测试1'])
                                ,new el('a',{href: 'javascript:void(0)',onclick: 'SelectedTag(this)','data-mod': 'or','data-flag': 'tag:test2', class: 'store'},['测试2'])
                                ]
                            )
                        ]).render())

                    document.getElementsByClassName('selector')[0].appendChild(new el('div',{class: 'storeline'},[]).render())
                    document.getElementsByClassName('selector')[0].appendChild(new el(
                    'div',
                    {class: 'kind'},
                    [
                    new el('div',{class: 'bz'},['已选条件：'])//,
                    //new el('div',{id: 'selectedParams',class:'nr'},
                    //        [new el('span',{class: 'selected'},
                    //        ['测试',new el('a',{href: 'javascript:void(0)',onclick: 'SelectedTag(this)','data-mod': 'or','data-flag': 'test:test1',categoryid: '0',class: 'store'}
                    //        ,[new el('svg',{viewBox:'0 0 24 24',class:'icon-del','aria-hidden':'true'},[new el('path',{d:'M6 6L17 17M6 17L17 6'},[])])])])
                    //        ]
                    //    )
                    ]).render())
            </script>
            <!-- 选择排序 -->
            <div class="sort">
                <div class="kind">
                    <div class="bz">排序方式：</div>
                    <div class="fm"><a href="javascript:void(0)" onclick="SelectedTag(this)" data-mod = "and" data-flag = "sort:updatetimedesc" class="selected on" order="0">更新时间降序</a></div>
                    <div class="fm"><a href="javascript:void(0)" onclick="SelectedTag(this)" data-mod = "and" data-flag = "sort:updatetimeasc" class="selected" order="0">更新时间升序</a></div>
                    <div class="fm"><a href="javascript:void(0)" onclick="SelectedTag(this)" data-mod = "and" data-flag = "sort:totalwordsdesc" class="selected" order="5">总字数降序</a></div>
                    <div class="fm"><a href="javascript:void(0)" onclick="SelectedTag(this)" data-mod = "and" data-flag = "sort:totalwordsasc" class="selected" order="0">总字数升序</a></div>
                </div>
                <div class="type">
                    <a href="#"><svg viewBox="0 0 24 24" class="icon-list"><path d="M6 7L18 7M6 12L16 12M6 17L18 17"></path></svg></a>
                </div>
                <div class="type">
                    <a href="#"><svg viewBox="0 0 24 24" class="icon-table"><rect width="4" height="4" x="6" y="7"></rect><rect width="4" height="4" x="13" y="7"></rect><rect width="4" height="4" x="6" y="14"></rect><rect width="4" height="4" x="13" y="14"></rect></svg></a>
                </div>
            </div>
            <!-- 书籍目录 -->
            <div class="catalog">
                <div class="con">
                    <div class="tab-head">
                        <span class="kind">类别</span>
                        <span class="bookname">书名</span>
                        <span class="chap">章节</span>
                        <span class="status">状态</span>
                        <span class="count">总字数</span>
                        <span class="author">作者</span>
                        <span class="time">更新时间</span>
                    </div>
                    <ul class="directory">
                        <li>
                            <span class="kind"><a href="javascript:void(0)">[其他类别]</a></span>
                            <span class="bookname"><a href="javascript:void(0)" target="_blank">书名</a></span>
                            <span class="chap"><a href="#" target="_blank">正文 第七百七十二章</a></span>
                            <span class="status">连载中</span>
                            <span class="count">12321312</span>
                            <span class="author"><a href="#" target="_blank">作者</a></span>
                            <span class="time">08-20 23:56</span>
                        </li>
                    </ul>
                    <div class="pages">
                        <div class="pagenumber pagebar" page="1" count="991" total="49504"><a class="active scrollpage" href="javascript:void(0)" page="1">1</a><a class="scrollpage" href="javascript:void(0)" page="2">2</a><a class="scrollpage" href="javascript:void(0)" page="3">3</a><a class="scrollpage" href="javascript:void(0)" page="4">4</a><a class="scrollpage" href="javascript:void(0)" page="5">5</a><a class="scrollpage" href="javascript:void(0)" page="6">6</a><em>...</em><a class="scrollpage" href="javascript:void(0)" page="991">991</a><a href="javascript:void(0)" class="block scrollpage" page="2" title="下一页">&gt;</a><input type="text" class="text scrollpage rank_d_page_value" value="1"><input type="button" class="scrollpage rank_d_page_submit" value="跳转"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">1</div>
    </body>
</html>